@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* VISUALLY HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HTML */

html {
  height: 100%;
}

/* MAIN */

.main-container {
  flex-grow: 1;
}

/* BODY */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

/* HEADER */

.header-main {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.navigation-main {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.navigation-list {
  width: 339px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
}

.current-link {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 21px;
  text-underline-position: under;
}

.navigation-user-list {
  max-width: 132px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;
}

.navigation-user-link {
  text-decoration: none;
}

.favorites-counter {
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
  color: #ffffff;
  border-radius: 50%;
}

.want-here-button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

/* MAIN INDEX*/

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.hero {
  background-color: #82b3d3;
  background-image: url("../images/index/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.title-caption {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.advantage-item-img {
  vertical-align: bottom;
}

.advantages-item {
  width: 400px;
  background-color: #83b3d31f;
}

.advantages-item:nth-child(3n) {
  background-color: #83b3d333;
}

.advantages-wide-item {
  display: flex;
  width: 1200px;
  background-color: #82b3d3;
}

.advantage-description-wrapper {
  padding: 102px 85px;
}

.img-before-text {
  order: -1;
}

.advantage-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #0000004d;
  text-decoration-thickness: 2px;
  text-underline-offset: 30px;
  text-underline-position: under;
}

.wide-item-title {
  color: #ffffff;
  text-decoration-color: #ffffff4d;
}

.wide-item-decription {
  color: #ffffff;
}

.offers-list {
  width: 1200px;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.offers-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.offers-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #83b3d31f;
  align-items: center;
}

.offers-item:nth-child(2n) {
  background-color: #ffffff;
}

.offers-icon-img {
  display: block;
  order: -1;
}


.search-button {
  display: block;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
}

.newsletter {
  background-color: #82B3D3;
  background-image: url("../images/index/subscription-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.subscribtion-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}

.subscribtion-promise {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}

.newsletter-form {
  text-align: center;
}

.field {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
}

.newsletter-submit {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

/* FOOTER */

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 142px;
  list-style: none;
}

.telephone-number {
  width: 331px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.html-academy-logo {
  margin-left: auto;
}

/* CATALOG */
/* FILTERS */

.hotel-filters {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  width: 114px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filters {
  display: flex;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control-input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
}

.range-control-input{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
}

.filters-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.filters-submition {
  background-color: #82b3d3;
}

.filters-reset {
  background-color: transparent;
}

/* SEARCH RESULTS */

.search-results-header {
  width: 1060px;
  display: flex;
  margin: 0 auto;
}

.search-results-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: auto;
}

.select-control {
  margin: 0;
  padding: 0;
  width: 292px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: transparent;
}

.card-view-buttons {
  width: 160px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: auto;
}

.hotels-list {
  width: 1060px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.hotels-list-item {
  width: 340px;
}

.hotels-list-link {
  color: #000000;
  text-decoration: none;
}

.hotel-catalog-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.more-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.add-to-favorite {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.already-in-favorites {
  background-color: #7db54f;
}

.raiting {
  background-color: #f2f2f2;
  text-transform: uppercase;
}

/* PAGINATION */

.pagination {
  width: 400px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

/* .paginaition-item {
  width: 60px;
} */

.pagination-link {
  width: 60px;
  padding: 11px 25px 13px 23px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.next-page {
  background-color: #ffffff;
  color: #000000;
}

.catalog-subscribtion-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.catalog-subscribtion-promise {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
