@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* VISUALLY HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HTML */

html {
  height: 100%;
  background-color: #f2f2f2;
}

/* MAIN Sticky footer */

.main-container {
  flex-grow: 1;
}

/* BOX-SIZING */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* BUTTON */

.button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}

/* BODY */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

/* HEADER */
/* NAVIGATION */

.header-main {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  background-color: #ffffff;
}

.navigation-main {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  align-items: center;
}

.main-header-logo {
  display: block;
  width: 150px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  text-decoration: none;
  color: #000000;
}

.current-link {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 21px;
  text-underline-position: under;
}

/* NAVIGATION USER LIST */

.navigation-user-list {
  max-width: 150px;
  margin-left: auto;
  margin-right: 20px;
  justify-content: flex-end;
}

.navigation-user-link {
  min-width: 44px;
  min-height: 64px;
  text-decoration: none;
}

.favorites-counter {
  width: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
}

/* BUTTON WANT HERE */

.want-here-button {
  max-width: 165px;
  padding: 8px 34px;
  background-color: #756157;
  color: #ffffff;
}

/* MAIN INDEX*/
/* HERO */

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #82b3d3;
  background-image: url("../images/index/index-background-decoration.svg"), url("../images/index/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, cover;
  background-position: center bottom ,center;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

/* ADVANTAGES */

.advantages-of-sedona {
  text-align: center;
}

.advantages-of-sedona-container {
  width: 651px;
  margin: 0 auto;
  padding: 69px 0;
}

.section-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.title-caption {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.advantages-item {
  width: 400px;
  padding: 112px 85px;
  background-color: #83b3d31f;
}

.advantages-item:nth-child(3n) {
  background-color: #83b3d333;
}

.advantages-wide-item {
  padding: 0;
  display: flex;
  width: 1200px;
  background-color: #82b3d3;
}

.advantage-description {
  margin: 0;
}

.advantage-description-wide-item-wrapper {
  width: 400px;
  padding: 102px 85px;
}

.img-before-text {
  order: -1;
}

.advantage-item-title {
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage-item-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wide-item-title {
  color: #ffffff;
}

.wide-item-decription {
  color: #ffffff;
}

/* OFFERS */

.agitation-container {
  width: 505px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.agitation-title {
  margin-bottom: 20px;
}

.offers-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.offers-item-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.offers-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #83b3d31f;
  align-items: center;
}

.offers-item:nth-child(2n) {
  background-color: #ffffff;
}

.offers-item-description {
  margin: 0;
}

.offers-item-description-wrapper {
  display: flex;
  flex-direction: column;
  padding: 81px 85px;
  align-items: center;
}

.offers-icon-img {
  display: block;
  order: -1;
}

.house-icon {
  margin-bottom: 30px;
}

.burger-icon {
  margin-bottom: 31px;
}

.gift-icon {
  margin-bottom: 28px;
}

/* SEARCH */

.hotel-search {
  text-align: center;
}

.hotel-search-container {
  width: 592px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

.hotel-search-title {
  margin-bottom: 20px;
}

.hotel-selection {
  margin-bottom: 54px;
}

.search-button {
  margin: 0 auto;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
}

/* SUBSCRIPTION */

.newsletter {
  text-align: center;
  background-color: #82B3D3;
  background-image: url("../images/index/subscription-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.newsletter-container {
  width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscription-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}

.subscription-promise {
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}

.newsletter-form {
 display: flex;
}

.field {
  width: 452px;
  padding: 14px 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.newsletter-submit {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* FOOTER */

.main-footer {
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 35px;
  justify-content: space-between;
}

.social-list {
  margin: 0;
  padding: 0;
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.social-link {
  display: block;
  width: 47px;
  height: 40px;
}

.vkontakte-link {
  padding: 13px 12px;
}

.telegram-link {
  padding: 12px 15px;
}

.youtube-link {
  padding: 12px 13px;
}

.telephone-number {
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.html-academy-logo {
  width: 115px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 70px;
}

/* CATALOG */
/* FILTERS */

.inner-container {
  width: 1200px;
  margin: 0 auto;
  padding: 35px 70px 70px;
  background-color: #82b3d3;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.catalog-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 29px;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

/* FILTERS */

.catalog-filters {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  min-width: 151px;
  border: none;
}

.fieldset-infrastructure {
  width: 150px;
  margin-right: 70px;
}

.fieldset-type-of-housing {
  width: 150px;
  margin-right: 140px;
}

.fieldset-price {
  width: 288px;
  margin-right: 70px;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control-input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
}

.range-control-input{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
}

/* FILTERS BUTTONS */

.button-wrapper {
  display: flex;
  flex-direction: column;
}

.filters-button {
  padding: 8px 50px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.filters-submition {
  margin-top: 56px;
  margin-bottom: 32px;
  background-color: #82b3d3;
}

.filters-reset {
  background-color: transparent;
}

/* SEARCH RESULTS */

.search-results {
  width: 1060px;
  margin: 0 auto;
}

.search-results-header {
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 40px;
}

.search-results-title {
  width: 400px;
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-select-control-wrapper {
  align-items: center;
}

.select-control {
  width: 290px;
  margin-right: 70px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: transparent;
}

.card-view-buttons {
  max-width: 160px;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  display: flex;
  column-gap: 8px;
  list-style: none;
}

.card-view-button {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 17px 16px;
  border: 2px solid #e5e5e5;
}

.card-view-button-current {
  border: 2px solid #000000;
}

/* HOTELS LIST */

.hotels-list {
  width: 1060px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.hotels-list-item {
  width: 340px;
}

.hotels-list-link {
  color: #000000;
  text-decoration: none;
}

.hotel-catalog-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.more-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.add-to-favorite {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.already-in-favorites {
  background-color: #7db54f;
}

.raiting {
  width: 140px;
  display: block;
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-align: center;
}

/* PAGINATION */

.pagination {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.paginaition-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.next-page {
  background-color: #ffffff;
  color: #000000;
}

/* CATALOG SUBSCRIPTION */

.catalog-subscrption-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.catalog-subscription-promise {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
